*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
	position: relative;
}
main{
    background-color: rgb(56, 67, 101);
}
section{
    padding: 150px;
}
.title {
	font-weight: 700;
	font-size: 58px;
	letter-spacing: 0.2px;
}

.subtitle {
	font-weight: 700;
	font-size: 40px;
	letter-spacing: 0.2px;
}

.caption {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.2px;
}

.text {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 20px;
}

.tag {
	color: #23a6f0;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.1px;
}
.title-content {
	font-size: 14px;
	font-weight: 700;
	color: #23a6f0;
}
.subtitle-content {
	font-size: 16px;
	color: #252b42;
}
.text-content {
	font-size: 14px;
	font-weight: 400;
	color: #737373;
	line-height: 20px;
}
.price {
	font-size: 16px;
	color: #bdbdbd;
}
.price-new {
	color: #40bb15;
}
.button {
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	padding: 15px 25px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #23a6f0;
	background: #23a6f0;
}
.button-default {
	border-color: #23a6f0;
	background-color: transparent;
	color: #23a6f0;
}
.link {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2px;
	line-height: 24px;
	text-decoration: none;
	color: #23a6f0;
}
