*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	font-family: "Montserrat", sans-serif;
	position: relative;
}
.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
	background-color: #184c99;
}
.container {
	max-width: 1050px;
	padding: 0 15px;
	margin: 0 auto;
}
.row {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header-main {
	display: flex;
	align-items: center;
	gap: 83px;
}
.header-logo {
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 0.1px;
	line-height: 32px;
	color: #ffffff;
	padding: 30px 0 29px;
}
a,
.link {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.2px;
	line-height: 24px;
	text-decoration: none;
	color: #23a6f0;
}

.link-light {
	color: #fff;
}

.navbar > a {
	margin: 0 10px;
}
.header-actions {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 45px;
	position: relative;
}
.button {
	font-size: 14px;
	font-weight: 700;
	line-height: 22px;
	padding: 15px 25px;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	border: 1px solid #23a6f0;
	background: #23a6f0;
}
.button-default {
	border-color: #23a6f0;
	background-color: transparent;
	color: #23a6f0;
}
/* First Section */

.section-full-height {
	min-height: 100vh;
}
.section-primary {
	display: flex;
	align-items: center;
	background-color: #184c99;
}
.wrapper {
	max-width: 686px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

.tag {
	color: #23a6f0;
	font-weight: 700;
	font-size: 16px;
	letter-spacing: 0.1px;
	padding: 20px;
}

.title {
	font-weight: 700;
	font-size: 58px;
	letter-spacing: 0.2px;
	padding: 20px 15px;
}

.title-light {
	color: #fff;
}
.caption {
	font-weight: 700;
	font-size: 20px;
	letter-spacing: 0.2px;
	padding: 20px 75px;
}

.caption-light {
	color: #fff;
}
.button-wrapper {
	display: flex;
	gap: 10px;
	padding-top: 20px;
}
/* Second section  */

.section-secondary {
	background-color: #252b42;
	display: flex;
	align-items: center;
}
.row-primary {
	display: flex;
	flex-direction: column;
	padding: 160px 0px;
}

.column {
	display: flex;
	flex-direction: column;
	gap: 35px;
	max-width: 550px;
}

.title-with-line {
	position: relative;
	padding-top: 42px;
}
.title-with-line::before {
	content: "";
	position: absolute;
	left: 0px;
	top: 0px;
	height: 7px;
	width: 94px;
	background-color: #e74040;
}
.subtitle {
	font-weight: 700;
	font-size: 40px;
	letter-spacing: 0.2px;
}
.subtitle-light {
	color: #ffffff;
}
.text {
	font-weight: 400;
	font-size: 14px;
	letter-spacing: 0.2px;
	line-height: 20px;
	padding-right: 156px;
}
.text-light {
	color: #ffffff;
}
.img-width-100 {
	max-width: 100%;
	height: auto;
}

/* Third section */
.container-primary {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.wrapper-primary {
	padding: 150px 0 80px 0;
}
.subtitle-primary {
	color: #252b42;
	padding: 35px 0px 35px 0px;
}
.paragraph-text {
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	color: #737373;
}
.row-secondary {
	padding-bottom: 184px;
	flex-direction: column;
}
.cards-wrapper {
	display: flex;
}
.product-card {
	width: 330px;
	height: 678px;
	margin: 15px;
}
.product-hero {
	width: 100%;
	height: 300px;
	background-size: cover;
	background-position: center;
}
.sale {
	position: relative;
	left: 20px;
	top: 20px;
	width: 51px;
	height: 24px;
	background-color: red;
	border-radius: 3px;
}
.sale p {
	text-align: center;
	font-weight: 700;
	color: #ffffff;
}
.product-icons {
	position: relative;
	width: 140px;
	left: 95px;
	top: 216px;
	display: flex;
	justify-content: space-between;
}
.icon {
	background-color: #fff;
	border-radius: 50%;
	height: 40px;
	width: 40px;
	border: none;
	cursor: pointer;
}

.product-content {
	width: 100%;
	height: 378px;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 10px;
}
.product-content > * {
	margin-left: 25px;
}
.wrapper-content {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 15px;
}
.title-content {
	font-size: 14px;
	font-weight: 700;
	color: #23a6f0;
}
.rate {
	width: 50px;
	height: 26px;
	background-color: #252b42;
	border-radius: 20px;
	margin-right: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #ffffff;
}
.rate i {
	color: #ffd700;
	margin-left: 6px;
	font-size: 12px;
}
.rate p {
	font-size: 12px;
	margin-right: 5px;
}
.subtitle-content {
	font-size: 16px;
	color: #252b42;
}
.text-content {
	font-size: 14px;
	font-weight: 400;
	color: #737373;
	line-height: 20px;
}
.sales-number {
	font-size: 14px;
	font-weight: 700;
	color: #737373;
}
.sales-number i {
	margin-right: 10px;
}
.prices {
	display: flex;
}
.price {
	font-size: 16px;
	text-align: center;
	color: #bdbdbd;
}
.price-new {
	padding-left: 5px;
	color: #40bb15;
}
.wrapper-data {
	background-color: #fff;
	display: flex;
	justify-content: space-between;
}
.data {
	width: 93px;
	height: 16px;
	display: flex;
}
.data p {
	color: #737373;
	font-size: 12px;
	text-align: center;
	margin-left: 3px;
	margin-right: 5px;
}
.icon-clock {
	color: #23a6f0;
}
.icon-chart-bar {
	color: #e77c40;
}
.icon-chart-line {
	color: #40bb15;
}
.button-small {
	max-width: 50%;
}
.row-opinion {
	justify-content: center;
}
.opinion-card {
	max-width: 500px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 30px;
}
.opinion-hero {
	width: 128px;
	height: 128px;
	border-radius: 50%;
	background-position: center;
}
.opinion-text {
	text-align: center;
	padding: 0px 160px 0px 160px;
}

.stars i {
	color: #ccc;
	cursor: pointer;
}
.stars i.active {
	color: #ffd700;
}


/* Media  */
@media (min-width: 992px) {
	.row-primary,
	.row-secondary {
		display: flex;
		flex-direction: row;
	}
}
